Repository ansys/review-bot, pull requests merged in 2023-08, with the labels that each got.

#69 MAINT: Bump version to 0.2.dev0
  pyproject.toml
Labels: enhancement, maintenance

#70 feat: minor changes
  CONTRIBUTORS.md
  README.rst
  doc/source/conf.py
  pyproject.toml
Labels: documentation, enhancement, maintenance

#72 fix: try-catch in git import
  src/review/bot/git_interface.py
Labels: bug
